h2 Bugmark Worker Exercise

p Learn about this exercise (Experiment 1)

p Experiment 1 is our base case. The objective is to get participants using the
  platform, opening and closing contracts, resolving trades successfully, and
  earning some money. We also want feedback after this study to improve the
  experience for the next two studies. In this study, everyone will be workers
  who work on pre-funded tasks.

p The experiment will be run using tokens, which map to real money (U.S.
  dollars). At the end of the experiment participants will receive their total
  earnings in U.S. dollars paid in the form of Amazon gift cards. The exchange
  rate is 1 USD = 10 tokens.

p At the start of the experiment all users will receive a complimentary payment
  of 50 tokens (5 USD) for their participation. Because all users are workers in
  this study, they must resolve issues to earn more money.

p The setup of the experiments is as follows.

ul
  li
    | The various issues in the repository consist of a mix of different task
      types such as python programming questions, documentation issues, questions
      on related topics, html tag removal, and scrambled words. This set of task
      types has been chosen to reflect the kinds of work done in an open source
      ecosystem.
  li
    | Each issue is listed in Bugmark as a pre-funded open offer worth 20 tokens.
  li
    | Workers must simply decide which offers to accept and work on.
  li
    | In order to get paid, the work must be satisfactorily completed by the
      maturation date which is always set to midnight PT.
  li
    | The merit of the work submitted is judged by the repository maintainers
      (as in any open source project).
  li
    | Once work submitted for a particular contract is judged to be
      satisfactory, the worker is paid the 20 tokens in his account. Note that it
      may take a little time for the submitted work to be evaluated.
  li
    | Metrics measured in this experiment are: number of issues opened, number
      of issues closed, average earnings, top earnings, time taken to complete
      issues.

a[name='accept']
h3 Get started: Accept an offer

p The Offers page lists all open offers. Click on any description or on the blue
  Accept button to see the offer description, including a link to the issue in
  GitHub. Now, from the description page, if you would like to work on this
  issue, click on the blue “Accept offer and form contract” button. The contracts
  page lists all your contracts (My Contracts tab) as well as all contracts
  currently active in the market (All Contracts tab).

a[name='resolve']
h3 Get started: Resolve an Issue

p Once you have accepted an offer, a contract is formed. 
  All your contracts are listed under the My Contracts tab set within the 
  Contracts page. 
  Click on the My Contracts tab and then click on a contract you would like 
  to work on. 
  Note that your answer must be submitted before the maturation date/time 
  specified in the contract.
  The description of the contract contains a link to the issue in Github. 
  Click on this link and follow the instructions to solve the problem. 
  There are two types of responses required.
  
p <strong>Type 1: Solution in Comment</strong>
  Many issues can be solve by simply posting a comment on the issue. 
  
p <strong>Type 2: Solution via Pull-Request</strong>
  Some issues require a file in the GitHub repository to be changed. 
  These issues will include a link to a file. See our
  <a href=https://docs.google.com/document/d/1piWe2BN6kYRTWlWH0PI5DaT3Bzn4cwyOQBQcKom1yTE/edit>
  detailed instructions on how to create a pull request on GitHub</a>.

a[name='earn']
h3 Get started: Earn Credits

p Earn money by working on issues, correctly solving these issues, and 
  submitting the correct solutions by the issue maturation date and time. 
  After you resolved an issue, the research team will review your answer and
  make sure the answer is correct. 
  Issues with correct answers will be closed.
  For every closed issue, that you have a contract for, you will earn the reward.
  This means, you have to answer issues with enough time for the research team to
  review your answer before the contract matures and expires.
  You can see the total credits awarded at the top right, next to your username
  and on your user profile in Bugmark.
