h2 Positions

p <b>Sellable</b> #{@sellable.count}
- @sellable.each do |pos|
  p <a href="/position_sell/#{pos.uuid}">#{pos.uuid}</a>

hr
p <b>Buyable</b> #{@buyable.count}
- @buyable.each do |buy|
  p <a href="/position_buy/#{buy.uuid}">#{buy.uuid}</a>

