h2 About this Exercise
p Content TBD.  You can add tables, links, graphics - anything you like!
p This text lives in the file "home.slim".  You can either edit this text
  directly, or give me the copy and I'll cut and paste.
p Click <a href='/ztst'>here</a> for some layout examples.

